# Security (Giấu file chứa URL thật của bạn)
assets/js/config.js

# Docker (KHÔNG giấu Dockerfile và compose, chỉ giấu dữ liệu phát sinh nếu có)
# docker-data/ 

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build outputs & Logs
assets/css/main.css.map
*.log

# Environment & Dependencies
node_modules/
.env